# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
*.egg

# Flask specific
instance/
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Pytest
.cache/

# Migrations
migrations/versions/__pycache__/

# VSCode specific
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Flask-Session
flask_session/